:root {
  /* Fuentes---------------------------- */
  --fuenteHeading: 'PT Sans', sans-serif;
  --fuenteParrafos: 'Open Sans', sans-serif;

  /* Colores---------------------------- */
  --primario: #784D3C;
  --gris: #e1e1e1;
  --blanco: #ffffff;
  --negro: #000;
}

html {
  /* Recomendado que lo siguiente vaya siempre en los poryectos */
  /* Para hacer que el border, el padding, etc no afecten
  el ancho de nuestros elementos */
  box-sizing: border-box;

  font-size: 62.5%;
  /*1rem = 10px  */
}

*, *:before, *:after {
  /* la venteja es q si lo utilizas en otro selector va a heredar de 
  ese otro y eso lo hace dinamico  */
  box-sizing: inherit;
  /* inherit -> hace q herede del elem padre(Html)*/
}

body {
  font-family: var(--fuenteParrafos);
  /* Traemos la fuente */
  font-size: 1.6rem;
  /* Tamaño de la letra */
  line-height: 2;
  /* Interlineado */
}

/* Globales */
.contenedor {
  max-width: 120rem;
  /* recomendado */
  width: 90%;
  /* Recomendado no poner el contenedor al 100% */
  /* width: min(90%, 120rem); Nueva forma de hacer lo mismo de arriba */
  margin: 0 auto;
  /* Top,Bottom = 0; left,right = auto con el fin de que se centre correctamente */
}

a {
  text-decoration: none;
  /* quita todos los subrayados del enlace  */
}

h1, h2, h3, h4 {
  font-family: var(--fuenteHeading);
  line-height: 1.2;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
}

/* Utilidades */
.no-margin {
  margin: 0;
}

.no-marginTop {
  margin-top: 0;
}

.no-padding {
  padding: 0;
}

.centrar-texto {
  text-align: center;
}

/* Header------------------------------ */
.header {
  background-image: url(../img/banner.jpg);
  height: 60rem;
  background-size: cover;
  /* Ayuda q se adapte la imagen a 
  diferentes tamaños */
  background-repeat: no-repeat;
  /* la img no se repita */
  background-position: center center;
  /* posicion  de enfoque q sera visible de la img 
  al abrir en dispositivos mas pequeños - centra Horizontal y 
  vertical la img*/
}

.header__texto {
  text-align: center;
  color: var(--blanco);
  margin-top: 5rem;
  /* margin hacia a arriba */
}

/* Barra---------------------------------- */
.barra {
  padding-top: 4rem;
}

@media (min-width: 768px) {

  /* cuando estamos acomodando elementos dentro de un contenedor
  es mejor utilizar Flexbox*/
  .barra {
    display: flex;
    justify-content: space-between;
  }

  .header__texto {
    margin-top: 15rem;
  }
}

.logo {
  color: var(--blanco);
}

.logo__nombre {
  font-weight: 400;
  /* se puede poner Normal o 400 es lo mismo */
  /* use la utilidad no margin para el caso de moviles */
}

.logo__bold {
  font-weight: 700;
  /* se puede poner Bold o 700 es lo mismo */
}

.navegacion {
  padding-top: 2rem;
}

@media (min-width: 768px) {
  .navegacion {
    padding-top: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

}

.navegacion__enlace {
  display: block;
  /* un elemento debajo del otro */
  text-align: center;
  /*  alinea el texto al medio */
  font-size: 1.8rem;
  color: var(--blanco);
}

/* fin de la barra */
/* fin del Header */

/* Contenido Principal y blogs */
@media (min-width: 768px) {
  .contenido-principal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
  }
}

.entrada {
  border-bottom: 2px solid var(--gris);
  /* border inferior */
  margin-bottom: 2rem;
}

.entrada:last-of-type {
  border: none;
  margin-bottom: 0;
}

.boton {
  display: block;
  font-family: var(--fuenteHeading);
  color: var(--blanco);
  text-align: center;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  /* tamaño de letra */
  text-transform: uppercase;
  font-weight: 700;
  /* letra negrita */
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .boton {
    display: inline-block;
  }
}

.boton--primario {
  background: var(--negro);
}

/* fin de contenido principal */

/* sidebar de cursos e info ------------
Puntos a considerar
- reusamos la clase boton   
*/
.cursos {
  list-style: none;
  /* Para quitar las viñetas */
}

.widget-curso {
  border-bottom: 1px solid var(--gris);
  margin-bottom: 2rem;
}

.widget-curso:last-of-type,
.curso:last-of-type {
  border: none;
  margin-bottom: 0;
}

.widget-curso__label,
.curso__label {
  font-family: var(--fuenteHeading);
  /*impotante */
  font-weight: 700;
  /* tipo negrita */
}

.widget-curso__info,
.curso__info {
  font-weight: 400;
  /* tipo normal */
}

.boton--secundario {
  background: var(--primario);
}

.widget-curso__label,
.curso__label,
.widget-curso__info,
.curso__info {
  font-size: 2rem;
}

/* fin de sidebar de cursos e info ------------

/* Footer-------------------- */
.footer {
  background-color: var(--negro);
  padding-bottom: 3rem;
  margin-top: 2rem;
}

/** Sobre Nosotros ---------------------------------- */
/* Usando flexbox con gap 
.sobre-nosotros{
  display: flex;
  gap: 2rem;
}
.sobre-nosotros__imagen,
.sobre-nosotros__texto{
  flex-basis: 50%;
} */

/* Usando flexbox sin gap
.sobre-nosotros{
  display: flex;
  justify-content: space-between;
}
.sobre-nosotros__imagen,
.sobre-nosotros__texto{
  flex-basis: calc(50% - 1rem)
} */

/* Usando Grid */
@media (min-width: 768px) {
  .sobre-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

}

/* fin de sobre Nosotros------------------- */

.curso {
  margin: 2rem 0;
  padding: 3rem 0;
  border-bottom: 1px solid var(--gris);
}

@media (min-width: 768px) {
  .curso {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}

/* Losiguiente ya esta incluido en la parte superior 
para evitar duplicar mismo codigo */
/* .curso:last-of-type{
  border: none;
  margin-bottom: 0;
}
.curso__label{
  font-family: var(--fuenteHeading); 
  font-weight: 700; 
}
.curso__info{
  font-weight: 400; 
}
.boton--secundario{
  background: var(--primario);
}
.curso__label,
.curso__info{
  font-size: 2rem;
} */